Status of LZ4 block format wrt RFC 8478

In Parquet we plan to standardize the use of LZ4 better than it used to be:
https://github.com/apache/parquet-format/pull/168

For now we plan to use the LZ4 block format (as Parquet already stores the compressed and uncompressed size separately).
How should we refer to the LZ4 block format in our spec?
Is it ok to point to [section 3.1.1.2 of RFC 8478](https://tools.ietf.org/html/rfc8478#section-3.1.1.2)?
Should we instead point to the [compression format spec](https://github.com/facebook/zstd/blob/master/doc/zstd_compression_format.md) in the zstd repo?



Oops, sorry, I sent this to the wrong repo :-(